<div class="historial-compras">
  <h2>Historial de Compras</h2>
  
  <!-- Verificar si hay órdenes -->
  <div *ngIf="ordenes.length > 0; else noCompras">
    <table>
      <thead>
        <tr>
          <th>ID Orden</th>
          <th>Fecha</th>
          <th>Total</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orden of ordenes">
          <td>{{ orden.id }}</td>
          <td>{{ orden.fechaVencimiento }}</td>
          <td>{{ orden.total  }}</td>
          <td>{{ orden.estado }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Mensaje si no hay compras -->
  <ng-template #noCompras>
    <p>No hay compras en el historial.</p>
  </ng-template>
</div>
