<div class="d-flex justify-content-center align-items-center" style="min-height: 75vh;">
    <div class="col-md-6 col-lg-4 p-4 border rounded text-center position-relative">
        <h5 class="fw-bold mb-3">Ingresa tu código de verificación</h5>
        <p class="mb-4">Hemos enviado un código de verificación a tu email, por favor digítalo.</p>
        
        <form>
            <div class="d-flex justify-content-between mb-3">
                <input type="text" maxlength="1" class="form-control text-center" style="width: 40px;">
                <input type="text" maxlength="1" class="form-control text-center" style="width: 40px;">
                <input type="text" maxlength="1" class="form-control text-center" style="width: 40px;">
                <input type="text" maxlength="1" class="form-control text-center" style="width: 40px;">
                <input type="text" maxlength="1" class="form-control text-center" style="width: 40px;">
                <input type="text" maxlength="1" class="form-control text-center" style="width: 40px;">
            </div>
            
            <div class="text-muted mb-4">El código vence después de 15 minutos.</div>
            
            <button type="submit" class="btn btn-primary btn-sm px-4 me-2">Verificar</button>
            <button type="button" class="btn btn-secondary btn-sm">Reenviar código</button>
        </form>
        
        <button type="button" routerLink="/login" class="btn btn-secondary btn-sm position-absolute" style="bottom: 20px; left: 20px;">Salir</button>
    </div>
</div>

