<header>
  <p>Página inicial de {{ title }}</p>
  <ul>
    <li><a routerLink="">Inicio</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/registro">Registro</a></li>
    <li><a routerLink="/crear-evento">Crear Evento</a></li>
    <li><a routerLink="/carrito">Carrito</a></li>
    <li><a routerLink="/crear-cupon">Crear Cupón</a></li>
    <li><a routerLink="/editar-evento">Editar Evento</a></li>
    <li><a routerLink="/confirmar-orden">Confirmar Orden</a></li>
    <li><a routerLink="/detalle-evento">Detalle Evento</a></li>
    <li><a routerLink="/recuperar-contrasenia">Recuperar Contraseña</a></li>
  </ul>
</header>
<router-outlet></router-outlet>
<footer>
  <p>{{ footer }}</p>
</footer>
